:root {
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  background-color: var(--very-dark-blue);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Custo */
  --bold-fw: 700;

  /*Colors */

  /*Primary */

  --Orange-clr: hsl(25, 97%, 53%);

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-opac: hsl(213, 19%, 18%, 0.8);
  --very-dark-blue: hsl(216, 12%, 8%);
  --light-grey-opac: hsla(217, 12%, 63%, 0.1);
}

h1 {
  color: var(--white);
}

button .ratings {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--light-grey-opac);
  margin-top: 5px;
}

p {
  color: var(--light-grey);
}

div .ratings button {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  color: var(--white);
  gap: 10px;
}
.attribution a {
  color: var(--Orange-clr);
  margin-left: 3px;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 350px;
  background-color: var(--dark-blue);
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--light-grey-opac);
}
.icon {
  max-width: 20px;
  display: block;
  margin: 10px;
}
.submit-btn {
  background-color: var(--Orange-clr);
  color: var(--white);
  border-radius: 20px;
  text-align: center;
  border: transparent;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-weight: var(--main-fw);
  margin: 15px 10px 10px 10px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--Orange-clr);
  border: transparent;
  transition: background-color 0.3s;
}
.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  text-align: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--light-grey);
}

.circle:hover {
  background-color: var(--light-grey);
  cursor: pointer;
  color: var(--white);
}

.icon:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

.circle .selected {
  background-color: var(--Orange-clr);
  border-radius: 50%;
}

.successComponent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.successComponent .result {
  background-color: var(--light-grey-opac);
  border-radius: 15px;
  color: var(--Orange-clr);
  padding: 5px 10px 5px 10px;
}

.successComponent img {
  display: block;
  padding-top: 25px;
}
